@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
}

:root{
    --branco--principal: #FFFFFF;
    --cinza--secundario: #C0C0C0C0;
    --botao--azul: #167bf7;
    --cor--fundo: #00030c;
    --font--principal: 'Inter';
}

body{
    background-color: var(--cor--fundo);
    color: var(--branco--principal);
    font-family: var(--font--principal);
    font-size: 1rem;
    font-weight: 400;
}

footer{
    color: var(--branco--principal);
    font-family: var(--font--principal);
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

.principal{
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa{
    margin: 0 14% 0 5%;
    height: 80%;
}

.container__botao{
    background-color: var(--botao--azul);
    border-radius: 6px;
    padding: 1em;
    text-decoration: none;
    color: var(--branco--principal);
    display: block;
    text-align: center;
    margin-bottom: 4%;
}
.container__botao__secundario{
    background-color: transparent;
    border: solid 2px var(--branco--principal);
}
.container__aviso{
    font-size: 0.75rem;
    color: var(--cinza--secundario);
}

.container__titulo{
    font-weight: 700;
    font-size: 1.75rem;
}

.container__img{
    margin: 5% 0 10% 0;
}

.secundario__img{
    width: 80%;
    
}
.secundario{
    align-items: center;
    margin: 0 6%;
}
.descricao__titulo{
    font-weight: 700;
    font-size: 3rem;
    padding-bottom: 1%;
}
.descricao__paragrafro{
    color: var(--cinza--secundario);
    padding-bottom: 2%;
}

.botao__terciario{
    display: inline-block;
}

.dispositivos{
    margin: 8% 0 15% 0;
    text-align: center;
}

.dispositivos__titulo{
    font-size: 3rem;
    color: var(--branco--principal);
}

.dispositivos__lista{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 4% 6%;

}
.lista__item{
    font-size: 2rem;
    color: var(--branco--principal);
}

.rodape__lista{
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 2% 5%;
}

.rodape__paragrafro{
    margin: 0 10%;
}